{% extends 'busgokr/base.html' %}
{% block head %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
        var map;
        function initialize() {
            var bounds = new google.maps.LatLngBounds();
            var mapOptions = {
                zoom: 12,
                center: new google.maps.LatLng(37.56, 126.975)
            };

            var map = new google.maps.Map(document.getElementById('map-canvas'),
                    mapOptions);

            var busStopCoords = [
            {% for s in segments %}
                new google.maps.LatLng({{ s.station.latitude }}, {{ s.station.longitude }}),
            {% endfor %}
            ];

            var busPath = new google.maps.Polyline({
                path: busStopCoords,
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });

            busPath.setMap(map);
        }

        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
    <style>
        #map-canvas { height: 400px }
    </style>
{% endblock %}
{% block search %}{% endblock %}
{% block body %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Interval</th>
                <th>Company</th>
                <th>Total distance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ line.name }}</td>
                <td>{{ line.interval }}</td>
                <td><a href="/busgokr/corporation/{{ line.corporation.id }}">{{ line.corporation }}</a></td>
                <td>{{ distance }} meters</td>
            </tr>
        </tbody>
    </table>
<div id="map-canvas"></div>
{% endblock %}
{% block table_caption %}Line segments{% endblock %}
{% block table_head %}
    <th>Segment</th>
    <th>First Time</th>
    <th>Last Time</th>
    <th>Station</th>
    <th>Station ID</th>
    <th>Distance to prev Station</th>
    <th>Speed</th>
    <th>Direction</th>
{% endblock %}
{% block table_body %}
    {% for segment in segments %}
        <tr>
            <td>{{ segment.number }}</td>
            <td>{{ segment.first_time }}</td>
            <td>{{ segment.last_time }}</td>
            <td><a href="/busgokr/station/{{ segment.station.id }}">{{ segment.station }}</a></td>
            <td>{{ segment.station.arsid }}</td>
            <td>{{ segment.section.distance }}</td>
            <td>{{ segment.section.speed }}</td>
            <td><a href="/busgokr/direction/{{ segment.direction }}/">{{ segment.direction }}</a></td>
        </tr>
    {% endfor %}
{% endblock %}