{% extends 'busgokr/base.html' %}
{% block search %}{% endblock %}
{% block table_caption %}Line segments{% endblock %}
{% block table_head %}
    <th>Segment</th>
    <th>First Time</th>
    <th>Last Time</th>
    <th>Station</th>
    <th>Station ID</th>
    <th>Distance to prev Station</th>
    <th>Direction</th>
{% endblock %}
{% block table_body %}
    {% for segment in segments %}
        <tr>
            <td>{{ segment.number }}</td>
            <td>{{ segment.first_time }}</td>
            <td>{{ segment.last_time }}</td>
            <td><a href="/busgokr/station/{{ segment.station.id }}">{{ segment.station }}</a></td>
            <td>{{ segment.station.arsid }}</td>
            <td>{{ segment.section.distance }}</td>
            <td><a href="/busgokr/direction/{{ segment.direction }}/">{{ segment.direction }}</a></td>
        </tr>
    {% endfor %}
{% endblock %}