{% extends 'busgokr/base.html' %}
{% block body %}
    <a href="{{ referer }}">Zurück</a>
        <table class="table table-striped table-hover">
        <caption>Line segments</caption>
            <thead>
                <tr>
                    <th>Segment</th>
                    <th>First Time</th>
                    <th>Last Time</th>
                    <th>Station</th>
                    <th>Station ID</th>
                    <th>Distance to prev Station</th>
                    <th>Direction</th>
                </tr>
            </thead>
            <tbody>
                {% for segment in segments %}
                <tr>
                    <td>{{ segment.number }}</td>
                    <td>{{ segment.first_time }}</td>
                    <td>{{ segment.last_time }}</td>
                    <td><a href="/busgokr/station/{{ segment.station.id }}">{{ segment.station }}</a></td>
                    <td>{{ segment.station.arsid }}</td>
                    <td>{{ segment.section.distance }}</td>
                    <td>{{ segment.direction }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}