<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>length</th>
                <th>Start</th>
                <th>Stop</th>
                <th>First run</th>
                <th>Last run</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ line.name }}</td>
                <td>{{ line.length }}</td>
                <td>{{ line.first_station }}</td>
                <td>{{ line.last_station }}</td>
                <td>{{ line.first_time }}</td>
                <td>{{ line.last_time }}</td>
            </tr>
        </tbody>

    </table>
</body>
</html>