{% extends 'busgokr/base.html' %}
{% block search_link %}/busgokr/lines/{% endblock %}
{% block search_ph %}Enter line{% endblock %}
{% block table_caption %}Bus Lines{% endblock %}
{% block table_head %}
    <th>Type</th>
    <th>Name</th>
    <th>Length</th>
    <th>Start</th>
    <th>Stop</th>
    <th>Interval</th>
    <th>Corporation</th>
{% endblock %}
{% block table_body %}
    {% for line in lines %}
    <tr>
        <td>{{ line.route_type }}</td>
        <td><a href="/busgokr/line/{{ line.id }}">{{ line.name }}</a></td>
        <td>{{ line.length }}</td>
        <td><a href="/busgokr/station/{{ line.first_station.id }}">{{ line.first_station }}</a></td>
        <td><a href="/busgokr/station/{{ line.last_station.id }}">{{ line.last_station }}</a></td>
        <td>{{ line.interval }}</td>
        <td><a href="/busgokr/corporation/{{ line.corporation.id }}">{{ line.corporation }}</a></td>
    </tr>
    {% endfor %}
{% endblock %}