{% extends 'busgokr/base.html' %}
{% block body %}

    {% block search %}
    <form action='' method="post" accept-charset="utf-8" role="form" class="form-inline">
        {% csrf_token %}
        <div class="form-group">
            <label class="sr-only" for="line_search">Line: </label>
            <input id="line_search" type="number" name="search" placeholder="Enter line number" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    {% endblock %}

    {% block live_lookup %}
    {% if search %}
        <p class="text-success">You searched for {{ search }}</p>
        {% if searched_before == 0 %}
            <p class="text-danger">You have never searched this before</p>
            <form action="/busgokr/lines/" method="post" role="form">
            {% csrf_token %}
                <input type="hidden" name="live" value="{{ search }}">
                <button type="submit" class="btn btn-default">Lookup Live</button>
            </form>
        {% endif %}
    {% endif %}
    {% endblock %}

    {% block table %}
    <table class="table table-striped table-hover">
        <caption>Bus Lines</caption>
        <thead>
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Length</th>
            <th>Start</th>
            <th>Stop</th>
            <th>Interval</th>
            <th>Corporation</th>
        </tr>
        </thead>
        <tbody>
        {% for line in lines %}
            <tr>
                <td>{{ line.route_type }}</td>
                <td><a href="{{ line.id }}">{{ line.name }}</a></td>
                <td>{{ line.length }}</td>
                <td>{{ line.first_station }}</td>
                <td>{{ line.last_station }}</td>
                <td>{{ line.interval }}</td>
                <td>{{ line.corporation }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
{% endblock %}