{% extends 'busgokr/base.html' %}
{% block head %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
        function initialize() {
            var bounds = new google.maps.LatLngBounds();

            var myLatlng =  new google.maps.LatLng(37.56, 126.975);
            var mapOptions = {
                zoom: 16,
                center: myLatlng
            };

            var map = new google.maps.Map(document.getElementById('map-canvas'),
                    mapOptions);

            var busStops = [
                {% for s in stations %}
                    ['{{ s.name }}', {{ s.latitude }}, {{ s.longitude }}],
                {% endfor %}
            ];

            setMarkers(map, busStops, bounds);
        }
        function setMarkers(map, locations, bounds) {
            for (var i = 0; i < locations.length; i++) {
                var stop = locations[i];
                var myLatLng = new google.maps.LatLng(stop[1], stop[2]);
                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: stop[0]
                });
                bounds.extend(marker.getPosition());
            }
            map.fitBounds(bounds);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <style>
        #map-canvas { height: 400px }
    </style>
{% endblock %}
{% block search %}{% endblock %}
{% block body %}
<div id="map-canvas"></div>
{% endblock %}
{% block table_caption %}Stations{% endblock %}
{% block table_head %}
    <th>Name</th>
    <th>Arsid</th>
    <th>Latitude</th>
    <th>Longitude</th>
{% endblock %}
{% block table_body %}
    {% for station in stations %}
        <tr>
            <td><a href="/busgokr/station/{{ station.id }}">{{ station.name }}</a></td>
            <td>{{ station.arsid }}</td>
            <td>{{ station.latitude }}</td>
            <td>{{ station.longitude }}</td>
        </tr>
    {% endfor %}
{% endblock %}