{% extends 'busgokr/base.html' %}
{% block head %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
        function initialize() {
            var bounds = new google.maps.LatLngBounds();
            var myLatlng =  new google.maps.LatLng(37.56, 126.975);
            var mapOptions = {
                zoom: 16,
                center: myLatlng
            };
            var map = new google.maps.Map(document.getElementById('map-canvas'),
                    mapOptions);
            var infoWindow = new google.maps.InfoWindow;
            {% for s in stations %}
                var myLatLng{{forloop.counter}} = new google.maps.LatLng({{ s.latitude }}, {{ s.longitude }});
                var marker{{forloop.counter}} = new google.maps.Marker({
                    position: myLatLng{{forloop.counter}},
                    map: map,
                    title: '{{ s.name }}',
                    icon: '/static/icons/busstop.png'
                });
                var contentString{{forloop.counter}} = '<a href="/busgokr/station/{{ s.id }}">{{ s.arsid }}</a>';
                google.maps.event.addListener(marker{{forloop.counter}}, 'click', function() {
                    infoWindow.setContent(contentString{{forloop.counter}});
                    infoWindow.open(map, marker{{forloop.counter}});
                });

                bounds.extend(myLatLng{{forloop.counter}});
            {% endfor %}
            map.fitBounds(bounds);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <style>
        #map-canvas { height: 400px }
    </style>
{% endblock %}
{% block search %}{% endblock %}
{% block body %}
<div id="map-canvas"></div>
{% endblock %}
{% block table_caption %}Stations{% endblock %}
{% block table_head %}
    <th>Name</th>
    <th>Arsid</th>
    <th>Latitude</th>
    <th>Longitude</th>
{% endblock %}
{% block table_body %}
    {% for station in stations %}
        <tr>
            <td><a href="/busgokr/station/{{ station.id }}">{{ station.name }}</a></td>
            <td>{{ station.arsid }}</td>
            <td>{{ station.latitude }}</td>
            <td>{{ station.longitude }}</td>
        </tr>
    {% endfor %}
{% endblock %}