{% extends 'busgokr/base.html' %}
{% block search %}{% endblock %}
{% block body %}
<div class="bs-docs-container">
    <div class="row show-grid">
        <div class="col-md-2">{{ station.name }}</div>
        <div class="col-md-2">{{ station.arsid }}</div>
        <div class="col-md-2">{{ station.latitude }}</div>
        <div class="col-md-2">{{ station.longitude }}</div>
    </div>
</div>
{% endblock %}
{% block table_caption %}Bus Lines{% endblock %}
{% block table_head %}
    <th>Name</th>
    <th>Direction</th>
    <th>Stop number</th>
    <th>First</th>
    <th>Last</th>
{% endblock %}
{% block table_body %}
    {% for seq in sequences %}
        <tr>
            <td><a href="/busgokr/line/{{ seq.route.id }}/">{{ seq.route }}</a></td>
            <td><a href="/busgokr/direction/{{ seq.direction }}/">{{ seq.direction }}</a></td>
            <td>{{ seq.number }}</td>
            <td>{{ seq.first_time }}</td>
            <td>{{ seq.last_time }}</td>
        </tr>
    {% endfor %}
{% endblock %}