{% extends 'busgokr/base.html' %}
{% block head %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
        var map;
        function initialize() {
            var myLatlng = new google.maps.LatLng({{ station.latitude }}, {{ station.longitude }});
            var mapOptions = {
                zoom: 17,
                center: myLatlng
            };
            var map = new google.maps.Map(document.getElementById('map-canvas'),
                    mapOptions);
            new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: '{{ station.name }}'
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <style>
        #map-canvas { height: 400px }
    </style>
{% endblock %}
{% block search %}{% endblock %}
{% block body %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Arsid</th>
            <th>Latitude</th>
            <th>Longitude</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ station.name }}</td>
            <td>{{ station.arsid }}</td>
            <td>{{ station.latitude }}</td>
            <td>{{ station.longitude }}</td>
        </tr>
        </tbody>
    </table>
<div id="map-canvas"></div>
{% endblock %}
{% block table_caption %}Bus Lines{% endblock %}
{% block table_head %}
    <th>Name</th>
    <th>Direction</th>
    <th>Stop number</th>
    <th>First</th>
    <th>Last</th>
{% endblock %}
{% block table_body %}
    {% for seq in sequences %}
        <tr>
            <td><a href="/busgokr/line/{{ seq.route.id }}/">{{ seq.route }}</a></td>
            <td><a href="/busgokr/direction/{{ seq.direction }}/">{{ seq.direction }}</a></td>
            <td>{{ seq.number }}</td>
            <td>{{ seq.first_time }}</td>
            <td>{{ seq.last_time }}</td>
        </tr>
    {% endfor %}
{% endblock %}